<nav class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo" class="logo">

  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <button type="button" name="button">Today’s Paper</button>
    </li>
    <li>
      <i class="fa fa-video-camera"></i>
      <button type="button" name="button">Video</button>
    </li>
    <li><a href="#">77°F</a></li>
    <li><a href="#">AAO <strong>+100%</strong></a></li>
  </ul>

</nav>
