<h1>New Sub</h1>

<form class="" action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>
  <label>Description <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>
<br>
  <input type="submit" name="" value="Add Sub">
</form>
