/* PHASE 3: Layout */
.content {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: 0 auto;
  width: 900px;
}

.content-main {
  background-color: white;
  min-height: 200px;
  padding: 10px;
  float: left;
  width: 620px;
  border: 1px solid lightgray;
  border-top: 0;
  border-left: 0;
}

.content-sidebar {
  background-color: white;
  min-height: 200px;
  padding: 10px;
  float: left;
  width: 200px;
  border: 1px solid lightgray;
  border-top: 0
}
