.tile {
  background-color: white;
  width: 20px;
  height: 20px;
  /*border: 1px black solid;*/
  text-align: center;
}

.row {
  display: flex;
}


.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-size: 40px;
  margin: 20px;
}

.top-box {
  border: 1px black solid;
}

.apple {
  width: 100%;
  height: 100%;
  background-color: #0f0;
}
